

<div>
  <h1>Araba.kz</h1>
  <p class = 'txt'> Araba.kz is the premier online platform dedicated to simplifying the process of buying and selling cars in Kazakhstan. Whether you're in the market for a new ride or looking to sell your current vehicle, Araba.kz offers an intuitive and user-friendly experience tailored to meet your automotive needs.</p>
  <video autoplay loop muted playsinline class="banner" controls>
    <source src = "assets/Camry.mp4" type = "video/mp4">
  </video>
</div>



<div class="plan">
  <h2 class="capt">Популярные категории</h2>
  <div class="plans">
    <div class="plans_item">
      <h2 class="plan_type">New cars</h2>

      <p class="last">Get what you deserve</p>
      <a [routerLink]="['/categories', 9, 'products']" class="linkerclone2">See</a>
    </div>
    <div class="plans_item">
      <h2 class="plan_type">Used cars</h2>
      <p class="last">Save money and time</p>
      <a [routerLink]="['/categories', 10, 'products']" class="linkerclone2">See</a>
    </div>
    <div class="plans_item">
      <h2 class="plan_type">Accessories</h2>

      <p class="last">Fascinating</p>
      <a [routerLink]="['/categories', 11, 'products']" class="linkerclone2">See</a>
    </div>
  </div>
</div>

<div class="banner2">
  <h1>Solar Roof</h1>
  <p>Produce Clean Energy From Your Roof</p> <br>
  <button>Explore</button>
</div>


<!--<div class="feature_main">-->
<!--  <div class="caption">-->
<!--    <h2 class="capt">Новинка</h2>-->
<!--  </div>-->
<!--  <div class="feature">-->
<!--    <div  *ngFor="let product of products">-->
<!--    <div class="feature_item" *ngIf="product.id%2==0">-->
<!--      <img src="{{product.img}}" alt="" class="feature-img">-->
<!--      <a href="">{{product.name}}</a>-->
<!--      <a  href="">{{product.description}}</a>-->
<!--      <h3></h3>-->
<!--      <div class="feature_line"></div>-->
<!--      <div class="shop_link feature_link_dop">-->
<!--        <a href="">-->
<!--          Купить-->
<!--          <i class="fa-solid fa-angles-right"></i>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
