.header {
  top: 0;
  width: 100%;
  height: 30px;
  margin: 0;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 1000; /* Ensure header is above other elements */
}

.menu {
  margin-top: 10px;
  display: flex;
  gap: 20px; /* Add space between menu items */
}

.menu-item {
  height: 40px;
  width: 40px;
  border-radius: 50%; /* Make menu items circular */
}

.center {
  margin-top: 11px;
  display: flex;
  justify-content: space-evenly; /* Distribute spans evenly */
  align-items: center;
  flex-grow: 1; /* Allow center section to grow */
}

.center span {
  margin-left: 4px; /* Add spacing between spans */
}

.logo {
  margin-top: 8px;
  width: 50px;
  height: 50px;
}
