<head>
    <title>Login Form</title>
</head>
<body>
<h2>Login Page</h2><br>
<div>
    <form method="get">
        <label><b>User Name
        </b>
        </label>
        <input type="text" name="Uname" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="Pass" placeholder="Password">
        <br><br>
        <a routerLink="/productList"><input type="button" name="log" value="Log In Here"></a>
        <br><br>
        <input type="checkbox">
        <span>Remember me</span>
        <br><br>
        <a href="url" class="none">Forgot Password</a>
    </form>
</div>
</body>
